<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Brother</title>
    <link rel="stylesheet" href="../vendor/destyle.css" />
    <link rel="stylesheet" href="../vendor/bulma/css/bulma.min.css" />
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="stylesheet" href="../styles/navbar.css" />
    <link rel="stylesheet" href="../styles/family_member.css" />
    <script src="../vendor/gsap.min.js"></script>
  </head>
  <body>
    
    <!-- navigation -->
    <div class="container navbar-wrap pt-5">
      <nav class="navbar level">
        <a class="navbar__link level-item" href="../index.html">Главная</a>
        <a class="navbar__link level-item" href="./father.html">Папа</a>
        <a class="navbar__link level-item" href="./mother.html">Мама</a>
        <a class="navbar__link level-item" href="./sister.html">Сестра</a>
        <a class="navbar__link active level-item" href="./brother.html">Брат</a>
      </nav>
    </div>

    <!-- content -->
    <div class="container mt-6">
      <div class="content level">
        <div class="heading level-item">
          <div class="heading__avatar" style="background-image: url('../assets/avatar_brother.jpg')"></div>
          <h1 class="heading__name">
            Dr. Robert Chase
          </h1>
        </div>
      </div>
    </div>

    <div class="container my-6">
      <div class="content main-content">
        <p>
          Непонятно, зачем Хаус нанял Чейза. Хаус утверждает, что он сделал это после того, как получил звонок от отца Чейза, но вряд ли это было единственной причиной. В любом случае, Хаус никогда не был ясен, параллельно с аналогичной загадкой о том, почему Кадди наняла Хауса. Чейза часто считают слабым звеном команды, но на самом деле он придумал больше диагнозов/хороших идей, чем Кэмерон или Форман для каждого из первых трех сезонов, а также показал некоторые важные прорывы, как только он вернулся в команду в 6-м сезоне. </p>
        <ul>
          <li>В Sports Medicine, команда определила, что основной причиной заболевания было отравление кадмием, но только Чейз выяснил источник; марихуану часто выращивают в загрязненной кадмием почве, и пациент курил ее, несмотря на его отрицания.</li>
          <li>
            В Airborne, именно Чейз в конце концов обнаружил тот факт, что дом женщины был заполнен токсичным газом, который прошел через соединительную трубу из дома, где лечили от заражения насекомыми.
          </li>
          <li>
            В Finding Judas, выясняет, что пациент страдает редким генетическим заболеванием непосредственно перед операцией, основываясь на рекомендации Хауса о том, что у пациента есть плотоядные бактерии.
          </li>
          <li>
            В The Right Stuff, Чейз натыкается на правильный диагноз, когда он заходит к кандидатам, делающим операцию.
          </li>
          <li>
            В Private Lives, Чейз правильно ставит диагноз пациентке с неисправным сердечным клапаном только потому, что она сказала, что ей неудобно лежать на спине.
          </li>
          <li>
            В Resignation, Чейз замечает, что у пациента есть мурашки, несмотря на то, что он не был ни холодным, ни испуганным, давая Хаусу важную подсказку в конечном диагнозе. Его внимание к мелочам подчеркивается немедленным отказом Формана от симптома как несущественного.
          </li>
          <li>
            В The Confession, когда остальная часть команды отказалась от пациента, Чейз остается с ним и становится подозрительным, когда пациент начинает признаваться в серьезных преступлениях. Он делает МРТ и находит вовлечение головного мозга, что приводит их к правильному диагнозу излечимого состояния.
          </li>
          <li>
            В Chase, Чейз снова проводит время с неизлечимой пациенткой, когда понимает, что она страдает от хромоты челюсти, которая указывала на излечимый диагноз.
          </li>
        </ul>
          <p>
            Чейз также, похоже, обладает способностью Хауса мыслить нестандартно и придумывает хорошие идеи для лечения и тестирования, начиная с идеи подтвердить ленточного червя простым рентгеновским снимком в качестве пилота и заканчивая идеей провести исследовательскую операцию на плоде в положении плода. Он также придумал процедуру, чтобы спасти глаз пациента в детоксикации, и это была его идея сделать транскраниальное ультразвуковое исследование, чтобы найти кровотечение в этом эпизоде. Следует также отметить, что, прежде чем присоединиться к команде Хауса, Чейз уже закончил двойную специализацию по интенсивной терапии и кардиологии и начал третью по нейрохирургии.
          </p>
          <p>
            Неясно также, что думает Хаус о Чейзе. Хаус то принижал свое мнение, то позволял Чейзу обнимать его, то называл идиотом, то делал все возможное, чтобы Чейз сохранил свою работу в эпизоде "ошибка". Позже он даже позволил Чейзу ударить себя по лицу. Он также начинает рассказывать Чейзу, что его отец умирает в проклятом перед Чейзом, ссылаясь на более раннее заявление Хауса о том, что Чейз ненавидит своего отца, отрезает его и говорит, что он любит своего отца, но ему легче ничего не ожидать от кого-то, кто явно не заботится о нем.
          </p>
          <p>
            Каким бы ни было мнение Хауса о Чейзе, всегда было ясно, что Чейз поклоняется Хаусу и боится его. Чейз обычно следует инструкциям Хауса и выносит любые оскорбления, которые Хаус выносит без ответных мер. Чейз редко не соглашается с тем, что говорит Хаус, указывая Форману, что независимо от того, сколько раз Форман не согласен с хаусом, Хаус не только прав, но ему удается убедить Камерона и Формана в своей точке зрения. Однако к третьему сезону стало ясно, что Чейз устал ждать похвалы или одобрения Хауса. Однако Чейз, похоже, искренне любит его и обнимает, когда думает, что Хаус умирает от опухоли мозга в Полоумии
          </p>
          <p>
            В Human Error, Хаус разжигает погоню за погоней, вспыхивает из-за слабых попыток Хауса удержать Формана от ухода, Хаус оправдывается тем, что Чейз пробыл там дольше всех и либо не может больше ничему у него научиться, либо вообще ничему не научился. Возможно, это было связано с тем, что Уилсон сказал Хаусу, что он боится перемен, возможно, из-за вспышки гнева Чейза, или, возможно, из-за растущих диагностических навыков Чейза в течение третьего сезона.
          </p>
          
      </div>
    </div>

    <script src="../scripts/family_member.js"></script>
  </body>
</html>
