<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Father</title>
    <link rel="stylesheet" href="../vendor/destyle.css" />
    <link rel="stylesheet" href="../vendor/bulma/css/bulma.min.css" />
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="stylesheet" href="../styles/navbar.css" />
    <link rel="stylesheet" href="../styles/family_member.css" />
    <script src="../vendor/gsap.min.js"></script>
  </head>
  <body>
    <!-- navigation -->
    <div class="container navbar-wrap pt-5">
      <nav class="navbar level">
        <a class="navbar__link level-item" href="../index.html">Главная</a>
        <a class="navbar__link active level-item" href="./father.html">Папа</a>
        <a class="navbar__link level-item" href="./mother.html">Мама</a>
        <a class="navbar__link level-item" href="./sister.html">Сестра</a>
        <a class="navbar__link level-item" href="./brother.html">Брат</a>
      </nav>
    </div>

    <!-- content -->
    <div class="container mt-6">
      <div class="content level">
        <div class="heading level-item">
          <div
            class="heading__avatar"
            style="background-image: url('../assets/avatar_father.png')"
          ></div>
          <h1 class="heading__name">Dr. Gregory House</h1>
        </div>
      </div>
    </div>

    <div class="container my-6">
      <div class="content main-content">
        <p>
          Обладая сухим и едким чувством юмора, Хаус загадочен и скрывает многие
          грани своей личности под маской сарказма. Он появляется и иногда сам
          утверждает, что он нарциссист (хотя он также показывает много
          признаков презрения к себе, что было бы невозможно для настоящего
          нарциссиста) и, кажется, имеет презрение к большинству людей, что
          заставляет некоторых называть его "мизантропом"." Он презирает
          большинство общественных институтов, включая феминизм и религию.
          Хаус-атеист, и подразумевается, что он нигилист. Эти черты делают его
          чем-то вроде байронического героя. Несмотря на свой цинизм, он,
          кажется, в какой-то степени заботится о своих коллегах и, считая их
          "идиотами", способен иногда отбросить свою гордость и извиниться,
          когда оскорбил их особенно сардоническим образом. Хаус использует свое
          легкомыслие, чтобы скрыть свою привязанность к коллегам, и отрицает
          это до такой степени, что сам иногда забывает об этом. Хаус-полный
          индивидуалист и заявил, что часто посещает проституток. В одном
          эпизоде его лучший друг Доктор Уилсон утверждает, что у Хауса может
          быть синдром Аспергера, но позже говорит Хаусу, что он только хотел
          бы, чтобы у него был синдром Аспергера, чтобы ему больше сходило с рук
          в жизни. Уилсон также сказал Хаусу, что его одержимость решением дел
          не имеет ничего общего со спасением жизней, но что, хотя "у некоторых
          врачей есть мессианский комплекс, у Хауса есть комплекс Рубика", то
          есть он больше озабочен выяснением того, что не так с его пациентами,
          чем спасением их жизней. Последнее он делает просто потому, что это
          его работа. Это проявляется, когда он иногда пытается диагностировать
          пациентов после их смерти, например, в эпизоде "97 секунд". Однако не
          раз он рисковал своей карьерой, свободой, а иногда даже жизнью, чтобы
          спасти пациента, оставляя открытым, насколько ему безразлична жизнь
          его пациентов.
        </p>
        <p>
          Иногда Хаус может проявлять то же самое лицемерие, которое он осуждает
          в других, например, его насмешки над Кадди, когда она проводила
          церемонию наречения своей дочери. Особенно вопиющим примером может
          служить его приобретение пистолета после того, как Мориарти застрелил
          его, заявив Мастерсу, что Вторая поправка-это часть Конституции,
          которая гласит, что люди имеют право быть глупыми. Он также,
          по-видимому, унаследовал служебный автомат Джона Хауса и мамелюкский
          меч. Без причины, Эйфория (Часть 1), Последнее искушение, Опасности
          паранойи
        </p>
      </div>
    </div>

    <script src="../scripts/family_member.js"></script>
  </body>
</html>
