<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Mother</title>
    <link rel="stylesheet" href="../vendor/destyle.css" />
    <link rel="stylesheet" href="../vendor/bulma/css/bulma.min.css" />
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="stylesheet" href="../styles/navbar.css" />
    <link rel="stylesheet" href="../styles/family_member.css" />
    <script src="../vendor/gsap.min.js"></script>
  </head>
  <body>
    
    <!-- navigation -->
    <div class="container navbar-wrap pt-5">
      <nav class="navbar level">
        <a class="navbar__link level-item" href="../index.html">Главная</a>
        <a class="navbar__link level-item" href="./father.html">Папа</a>
        <a class="navbar__link active level-item" href="./mother.html">Мама</a>
        <a class="navbar__link level-item" href="./sister.html">Сестра</a>
        <a class="navbar__link level-item" href="./brother.html">Брат</a>
      </nav>
    </div>

    <!-- content -->
    <div class="container mt-6">
      <div class="content level">
        <div class="heading level-item">
          <div class="heading__avatar" style="background-image: url('../assets/avatar_mother.jpg')"></div>
          <h1 class="heading__name">
            Dr. Lisa Cuddy
          </h1>
        </div>
      </div>
    </div>

    <div class="container my-6">
      <div class="content main-content">
        <p>
          Кадди родилась в 1968 году. Ее мать, Арлин Кадди, все еще жива, но ее отец умер. Ее отец был евреем от рождения, но ее мать была католичкой, которая приняла иудаизм, когда Арлин вышла замуж за отца Кадди. У нее есть одна сестра, Джулия Кадди. Она также происходит из длинной линии врачей - ее прадед опубликовал ключевой медицинский текст. Мы также знаем, что она тоже хотела стать врачом с тех пор, как ей исполнилось 12 лет. Она была редактором своего школьного ежегодника. Она часто чувствовала, что мать обращалась с ней более сурово, чем с младшей сестрой, но позже пришла к выводу, что мать только подталкивала ее, зная, что она способна на великие дела. Единственный другой важный факт о ее ранней жизни-это то, что она призналась Уилсону (который позже рассказал Хаусу), что когда-то спала с лучшим другом своего отца.
        </p>
        <p>
          Лиза Кадди поступила в Мичиганский университет, где училась на подготовительном курсе и, кроме того, посещала занятия в их медицинской школе. За это время она познакомилась с Грегори Хаусом, который работал в университетском книжном магазине в то время, когда он обжаловал свое исключение из Медицинской школы Джона Хопкинса.
        </p>
        <p>
          Никогда не было известно, где Кадди училась в медицинской школе, но мы знаем, что она заняла второе место в своем выпускном классе в возрасте 26 лет и сделала Альфа Омега Альфа, почетное общество для студентов-медиков. Удивительно, но она была разочарована результатом.
        </p>
        <p>
          Никогда не было известно, где Кадди проходила стажировку или ординатуру, но мы знаем, что она закончила аспирантуру по эндокринологии.
        </p>
        <p>
          Кадди была замужем в течение шести дней в 1987 году в Нью-Джерси, как выяснилось в эпизоде 7 сезона "Маленькие жертвы", и брак закончился разводом. Никакой дополнительной информации о ее недолгом браке или о личности ее мужа не было дано.
        </p>
        <p>
          О ее ранней карьере ничего не известно. В возрасте 29 лет она солгала о своем возрасте (сказав, что ей 31 год), чтобы получить должность вице-президента PPTH. Год спустя, якобы в возрасте 32 лет (когда ей было на самом деле 30), она стала вторым самым молодым деканом медицины в истории Принстон-Плейнсборо преподавательской больницы (даже в более старшем возрасте) и одной из трех женщин в Соединенных Штатах, занимавших такую должность в крупной больнице.
        </p>
        <p>
          Вскоре после того, как он стал деканом медицины, к Кадди снова обратился Хаус. Недавно его уволили еще с одной работы - в четвертый раз. Он был практически безработным. Ее официальное объяснение состоит в том, что Дом “обошелся дешево” (то есть ей не пришлось платить ему много). Тем не менее, было много предположений о том, почему она наняла его. Она также тщательно избегала вопросов о том, почему она не уволила его, за исключением того, что постоянно описывала Хауса как “лучшего врача, который у нас есть”.
        </p>
      </div>
    </div>

    <script src="../scripts/family_member.js"></script>
  </body>
</html>
