<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Sister</title>
    <link rel="stylesheet" href="../vendor/destyle.css" />
    <link rel="stylesheet" href="../vendor/bulma/css/bulma.min.css" />
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="stylesheet" href="../styles/navbar.css" />
    <link rel="stylesheet" href="../styles/family_member.css" />
    <script src="../vendor/gsap.min.js"></script>
  </head>
  <body>
    
    <!-- navigation -->
    <div class="container navbar-wrap pt-5">
      <nav class="navbar level">
        <a class="navbar__link level-item" href="../index.html">Главная</a>
        <a class="navbar__link level-item" href="./father.html">Папа</a>
        <a class="navbar__link level-item" href="./mother.html">Мама</a>
        <a class="navbar__link active level-item" href="./sister.html">Сестра</a>
        <a class="navbar__link level-item" href="./brother.html">Брат</a>
      </nav>
    </div>

    <!-- content -->
    <div class="container mt-6">
      <div class="content level">
        <div class="heading level-item">
          <div class="heading__avatar" style="background-image: url('../assets/avatar_sister.jpg'); background-position: center 0;"></div>
          <h1 class="heading__name">
            Dr. Remy Hadley (Thirteen)
          </h1>
        </div>
      </div>
    </div>

    <div class="container my-6">
      <div class="content main-content">
      <p>
        Тринадцать - уравновешенная, яркая, полная энтузиазма и, как правило, не боится высказаться, когда считает, что она права. У нее хорошие отношения с пациентами, и это показывает, что она не так осуждает, как ее коллеги, когда дело доходит до пациентов, употребляющих наркотики. Это можно объяснить ее собственной историей употребления наркотиков. Она намеренно хранила подробности своей жизни в тайне, предпочитая идти по назначенному ей номеру кандидата, 13, даже после того, как ее наняли. Форман считает, что это потому, что она бисексуальна и хочет сохранить свою личную жизнь в тайне.
      </p>
      <p>
        Она, возможно, обладает большим уличным умом, чем любой из других персонажей.  В эпизоде Джой она правильно опознала женщину-наркодилера, которая встречалась с пациенткой, в то время как Тауб принял ту же женщину за проститутку. Кроме того, она могла отличить чистый кокаин от смешанного с примесями, а также знала, что дилер держит как чистый кокаин (для новых клиентов), так и нечистый кокаин (для наркоманов) и просит нечистый образец для тестирования.
      </p>
      <p>
        В эпизоде The Down Low, когда Тринадцать и наркодилер Эдди были загнаны в угол гангстерами, она легко вошла в роль проститутки, тем самым помешав партнеру Эдди понять, что он привел врача туда, где были спрятаны их наркотики. Она также, кажется, вполне способна защитить себя, так как, когда пациент схватил ее в Неблагоприятных обстоятельствах, она не только избежала его хватки, но и сделала это, сломав ему нос.
      </p>
      <p>
        Однако, когда она была моложе, Тринадцать, кажется, была более уязвимой. В личной жизни она призналась, что в 17 лет впервые влюбилась в 30-летнего мужчину, который просто манипулировал ею. Ее жесткая личность может также маскировать более чувствительную натуру, поскольку ее встреча с пациентом в зеркале подразумевает, что она часто находится в состоянии страха и тревоги.
      </p>
      </div>
    </div>

    <script src="../scripts/family_member.js"></script>
  </body>
</html>
